<h1>Showing <%= @client.handle %> User</h1>

<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>


<p>
  <b>Password:</b>
  <%= @user.password %>
</p>

<p>
  <b>Location:</b>
  <%= @user.location %>
</p>

<p>
  <b>Role:</b>
  <%= @user.role %>
</p>

<p>
  <b>Client User Id:</b>
  <%= @user.client_user_id %>
</p>


<p>
  <b>Client:</b>
  <%= @user.client_id %>
</p>


<%= link_to 'Edit', edit_client_user_path(@client,@user) %> |
<%= link_to 'Back', client_users_path(@client) %>
