  <% if @video.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@video.errors.count, "error") %> prohibited this clients_video from being saved:</h2>

      <ul>
      <% @video.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_area :title %>
  </div>
  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :participants %><br />
    <%= f.text_area :participants %>
  </div>
   

    <%= f.hidden_field :client_id %>


    <%= f.hidden_field :user_id %>
    

<% if current_user.role != 'intranet_user' %>
  <div class="field">
    <%= f.label :cached_tag_list %><br />
    <%= f.text_field :cached_tag_list %>
  </div>
  <div class="field">
    <%= f.label :release_date %><br />
    <%= f.datetime_select :release_date %>
  </div>
  <div class="field">
    <%= f.label :approved %><br />
    <%= f.check_box :approved %>
  </div>
  <div class="field">
    <%= f.label :views %><br />
    <%= f.text_field :views %>
  </div>

<% end %>

<% if current_user.role == 'intranet_user' %>
    <%= f.hidden_field :botr_video_key %>
<% else %>
  <div class="field">
    <%= f.label :botr_video_key %><br />
    <%= f.text_field :botr_video_key %>
  </div>

<% end %>

