<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @video.title %>
</p>

<p>
  <b>Location:</b>
  <%= @video.location %>
</p>

<p>
  <b>Description:</b>
  <%= @video.description %>
</p>
<p>
  <b>Participants:</b>
  <%= @video.participants %>
</p>

<p>
  <b>Release date:</b>
  <%= @video.release_date %>
</p>

<p>
  <b>Approved:</b>
  <%= @video.approved %>
</p>

<p>
  <b>Botr video key:</b>
  <%= @video.botr_video_key %>
</p>


<p>
  <b>Views:</b>
  <%= @video.views %>
</p>

<p>
  <b>Client ID:</b>
  <%= @video.client_id %>
</p>

<p>
  <b>User ID:</b>
  <%= @video.user_id %>
</p>

<p>
  <b>Cached Tag list:</b>
  <%= @video.cached_tag_list %>
</p>


<p>
<b>Comments:</b>
 <ul>
 <% @video.comments.each do |comment| %>
   <li><%= comment.body -%></li> 
 <% end %>
 </ul>
  <%= render :partial => 'comments/form' %>
</p>

<p>
<b>Liked: <%= @video.likes_count %> times</b>
</p>

<%= link_to 'Edit', edit_client_video_path(@client,@video) %> |
<%= link_to 'Back', client_videos_path(@client) %>

<div>
<!-- this takes the longest to load, keep this last -->
<script type="text/javascript" src="http://content.bitsontherun.com/players/<%= @video.botr_video_key -%>-<%= @client.botr_player_key -%>.js"></script> 
</div>

