<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @video.title %>
</p>

<p>
  <b>Location:</b>
  <%= @video.location %>
</p>

<p>
  <b>Description:</b>
  <%= @video.description %>
</p>

<p>
  <b>Season:</b>
  <%= @video.season %>
</p>

<p>
  <b>Episode:</b>
  <%= @video.episode %>
</p>

<p>
  <b>Label:</b>
  <%= @video.label %>
</p>

<p>
  <b>Participants:</b>
  <%= @video.participants %>
</p>

<p>
  <b>Release date:</b>
  <%= @video.release_date %>
</p>

<p>
  <b>Approved:</b>
  <%= @video.approved %>
</p>

<p>
  <b>Botr video key:</b>
  <%= @video.botr_video_key %>
</p>


<p>
  <b>Views:</b>
  <%= @video.views %>
</p>

<p>
  <b>Client:</b>
  <%= @video.client_id %>
</p>

<p>
  <b>User:</b>
  <%= @video.user_id %>
</p>
<p>
  <b>Tab Highlight:</b>
  <%= @video.tab_highlight %>
</p>

<div style="border:1px solid black">
<p>TABS</p>
 <% begin %>
 <%= raw ERB.new(@client.content_assets.find_by_handle(@client.tab_content_asset).body).result(binding) %>
<% rescue => e %>
 <%= e %>
<% end %>
</div>

<p>
<b>Comments:</b>
 <ul>
 <% @video.comments.each do |comment| %>
   <li><%= comment.body -%></li> 
 <% end %>
 </ul>
  <%= render :partial => 'comments/form' %>
</p>


<%= link_to 'Edit', edit_client_video_path(@client,@video) %> |
<%= link_to 'Back', client_videos_path(@client) %>
<% if flash[:permalink_urls] %>
rewriting urls
<script src="http://code.jquery.com/jquery-1.5.js"></script>
<script>
$('a').attr('href', function() {
  orig = this; 
  return "<%=@client.intranet-%>?goto="+escape(this); 
});
$('a').attr("target", "_parent");
</script>
<% end %>

<div>
<!-- this takes the longest to load, keep this last -->
<script type="text/javascript" src="http://content.bitsontherun.com/players/<%= @video.botr_video_key -%>-<%= @client.botr_player_key -%>.js"></script> 
</div>

