<%= form_for(@user, :url => {:action => 'login'}) do |f| %>
 
  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.text_field :password %>
  </div>


  <div class="field">
    <%= f.label :client_id %><br />
    <%= f.text_field :client_id %>
  </div>



  <div class="actions">
    <%= f.submit("Login") %>
  </div>
<% end %>
