<h1>Listing content_assets</h1>

<table>
  <tr>
    <th>handle</th>
    <th>body</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @content_assets.each do |content_asset| %>
  <tr>
    <td><%= content_asset.handle %></td>
    <td><%= content_asset.body %></td>
    <td><%= link_to 'Show', client_content_asset_path(@client, content_asset) %></td>
    <td><%= link_to 'Edit', edit_client_content_asset_path(@client,content_asset) %></td>
    <td><%= link_to 'Destroy', client_content_asset_path(@client,content_asset), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Content asset', new_client_content_asset_path(@client) %>
