<!DOCTYPE html>
<html>
<head>
  <title>Mainspring</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  
  </head>
<body>
<% if current_user.nil? %>
  <%= link_to('Login', login_path) %>
<% else %>
 You are logged in as <%= current_user.authentication_token %> <%= link_to('Logout', logout_path) %>
<% end %>
 <p class="notice"><%= notice %></p>
 <p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
